# Irish Payments POS - API base URLs (change host/port as needed)
VITE_PUBLIC_API_URL="http://127.0.0.1:8001/api"
VITE_PUBLIC_SUPPLIER_API_URL="http://127.0.0.1:8001/api/v1"
VITE_PUBLIC_API_URL_POS="http://127.0.0.1:8001/api"
VITE_PUBLIC_API_URL_REPORTING="http://127.0.0.1:8001/api"
VITE_PUBLIC_AUTH_API_URL="http://127.0.0.1:8001/api/v1"
VITE_PUBLIC_API_URL_CRM="http://127.0.0.1:8001/api"
VITE_PUBLIC_API_URL_CRM_MENU="http://127.0.0.1:8001/api"
VITE_PUBLIC_AUTH_AdMIN_API="http://127.0.0.1:8001/api/v1"
VITE_ACCOUNTING_API="http://127.0.0.1:8001/api/v1"
VITE_PUBLIC_API_URL_PRODUCT_BANK="http://127.0.0.1:8001/api/v1"
VITE_PUBLIC_API_URL_BANK="http://127.0.0.1:8001/api/v1"
VITE_PUBLIC_INVENTORY_API_URL="http://127.0.0.1:8001/"
